<!-- <p>
  kids-books works!
</p> -->

<app-side-category></app-side-category>
  <div><h2>Kids Books</h2></div>
  <hr>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-md-3" *ngFor="let books of bookList">
        <div class="thumbnail product-thumb">
            <a routerLink="/books-details/{{ books.id}}" style="cursor: pointer">
              <!-- <img src="../../assets/images/imageNotAvailable.jpg" alt="Lights" style="width:100%" > -->
              <img src="../../assets/images/{{books.id}}.jpg" alt="Lights" width="100%" class="img-fluid rounded">
              <div class="product-brand"> 
                <p class="wrap">{{ books.name }}<br> <em> by {{ books.author }}</em></p>
              </div>
            </a>
            <!-- <p>Description:{{ books.description }}</p> -->
          <p>₹ {{ books.price }}</p>
          <!-- <p>Author: {{ books.author }}</p> -->
          <button type="button" class="btn btn-success" routerLink="/books-details/{{ books.id }}" style="cursor: pointer">
            <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
          </button>
          
    </div>
  </div>
  