
.product-thumb {
    padding: 15px 0px;
    display: inline-block;
    vertical-align: top;
    max-width: 80%;
    max-height: 80%;
    /* width: 200px;
    height: 350px; */
    text-align: center;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
}
em {
    color: black;
    font-size: 12px;
}

h2 {
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: rgb(46, 46, 48);
  }

