
header {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.product-thumb {
    padding: 25px 15px;
    display: inline-block;
    vertical-align: top;
    width: 80%;
    width: 200px;
    height: 350px;
    text-align: center;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    background-color: white;
    margin-bottom: 20px;
    border: 0px;
}

em {
    color: black;
    font-size: 12px;
}

h2 {
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
  }

  h3 {
    height: 32px;
}


.breadcrumb {
    background-color:white;
    font-size: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0px;
}

hr {
    margin:10px;
    color: cadetblue;
    border-width: 5px;
}

