nav {
    background-color:#2861ba;
    
    }
/* .navbar-default .navbar-brand:hover {
       color: white;
}

.navbar-brand { 
    color:white;
    font-size: 30px;
    }  */

  
.navbar-nav>li>a {   
    color:white;   
    font-size: 20px; }

   /* .navbar-brand>a{
    color:white;
   }  */

   .navbar-default  {
     color: white;
     position: 0;

   }

   a:hover ,li a:hover {
       background-color: #0754cf;
       text-decoration: unset;
   }
   
   li {
    font-size: 20px;
   }
   