

 <div class="col-md-2  sidenav table-bordered">
    <div class="table">
        <h5 class="header-label"> Category</h5>
        <hr>
        <ul>
         <div><li ><a routerLink="../kids-books">Kids</a></li></div>
         <div><li ><a routerLink="../arts">Arts&Photography</a></li></div>
         <div><li ><a routerLink="../biographies">Biographies</a></li></div>
         <div><li ><a routerLink="../entertainment">Entertainment</a></li></div>
         <div><li ><a routerLink="../computer">ComputerBooks</a></li></div>
         <div><li ><a routerLink="../history">History</a></li></div>
         <!--<div> <li class="glyphicon glyphicon-menu-right"><a routerLink="../adults">Adults</a></li></div> -->
        </ul>
    
    </div>
  </div> 
  <!-- <h5 class="header-label"> Categories </h5>
  <div>
    <ul>
      <li><a routerLink="../home">Category 1</a></li>
      <li><a routerLink="../home">Category 2</a></li>
      <li><a routerLink="../home">Category 3</a></li>
      </ul>
    </div>
    
    <h5 class="header-label"> Language </h5>
  <div class="checkbox">
      <label><input type="checkbox" value="">English</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Telugu</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Hindi</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Marati</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Sanskrit</label> -->
    <!-- </div>  -->

