  .navbar {
      margin-bottom: 0;
      border-radius: 0;
  }
      
  .sidenav {
    padding-top: 20px;
    /* margin: 10px; */
    background-color:white;
    /* height: 650px; */
  }

  .header-label {
    /* color: white; */
    font-size: 20px;
    text-transform: uppercase !important;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    /* background-color:#2861ba; */
  }
  
  .checkbox {
    color:#337ab7;
  }
  
  ul {
    font-size: 16px;
    -webkit-padding-start: 10px;
    list-style-type: none; 
  }
  li {
    font-family: 'Comic Sans MS', cursive, sans-serif;

  }

  hr {
    margin:10px;
    color: cadetblue;
    border-width: 5px;
}